%div{class:"front", id: "front_page"} 
  %h1.title Ultimate Code 
  - if logged_in?
    = form_tag new_document_path, :id => "new_document", :method => :get do
      = hidden_field_tag :user_id, session[:user_id]
      = submit_tag 'New Document', :class => "btn"
    = link_to "Sign out", logout_path
  - else
    %div{class: "icon"}
      = link_to '/auth/google_oauth2' do
        %i{class:"fab fa-google", id:"google_icon"}   
      %i{class:"fab fa-facebook", id:"facebook_icon"}   
      %i{class:"fab fa-github", id:"github_icon"}
