%div{class:"front", id: "front_page"} 
  %h1.title Ultimate Code 
  - if logged_in?
    = form_tag new_document_path, :id => "new_document", :method => :get do
      = hidden_field_tag :user_id, session[:user_id]
      = submit_tag 'New Document', :class => "btn"
    = select_tag :home_file_selector, options_for_select(get_document_list), :id => "home_file_selector"
  - else
    %div{id: "sign_in"} Sign in with your:
    %div{class: "icon"}
      = link_to '/auth/google_oauth2' do
        %i{class:"fab fa-google float", id:"google_icon"}   
      %i{class:"fab fa-facebook float", id:"facebook_icon"}   
      %i{class:"fab fa-github float", id:"github_icon"}
