!!!
%html
  %head
    %link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous")
    %link(href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet")

    %script(src="//cdnjs.cloudflare.com/ajax/libs/ace/1.4.7/ace.js" type="text/javascript" charset="utf-8")
    %script(src="//cdnjs.cloudflare.com/ajax/libs/ace/1.4.7/ext-language_tools.js" type="text/javascript" charset="utf-8")
    %script(src="https://kit.fontawesome.com/302e178b77.js" crossorigin="anonymous")
    %title UltimateCode!
    = stylesheet_link_tag 'application', 'media' => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

    %body
      
      - if logged_in?
        = link_to logout_path do      
          %span{class: "sign"}
            %i{class: "fas fa-lock"} 
            %span{id:"sign_out"} Sign out
        - if current_page?(new_document_path) 
          %span{class: "sign", id:"invite"}
            %i{class: "fas fa-plus"} 
            %span{id:"hi"} Invite 
      %div.container

      
        
        
        
        %div.navbar.navbar-expand-lg.text-white
        #main
          - if flash[:notice]
            %div.alert.alert-danger
              #notice.message= flash[:notice]
          - elsif flash[:warning]
            %div.alert.alert-danger
              #warning.message= flash[:warning]
      
          = yield
      
      